[LastFM]
client-version=0.1
client-id=gmm
client-banned=false
session=

[player]
repeat-mode=2
play-from-queue=false
crossfade=false
replay-gain=0
crossfade-duration=5000
shuffle=false

[podcast]
album-list-show-year=true
album-list-sort-reverse=false
artist-list-selection=
browse-showcolumn-date=true
browse-showcolumn-feed=true
browse-showcolumn-title=true
browser=true
browser-track-split=5000
browse-columnindex-feed=1
browse-columnindex-date=1
genre-artist-split=5000
browse-columnwidth-time=200
browse-sort-column=21
browse-showcolumn-time=true
browse-columnwidth-title=200
track-list-posy=0
genre-list=true
track-list-posx=0
browse-columnwidth-date=200
album-list-sort-by-year=false
album-list-browser=false
genre-list-sort-reverse=false
artist-list-sort-reverse=false
filter-text=
browse-columnindex-title=1
genre-list-selection=0;
browse-sort-reverse=false
update-interval=0
browse-columnwidth-feed=100
browse-columnindex-time=1
filter=false
browse-sort-seed=3548385500
album-list-selection=
filter-mask=7
artist-album-split=3333

[application]
minor-version=2
level-version=5
major-version=1

[Color Dialog]
WV=#afafff
WM=Orange
height=278
WG=Red
WQ=#009999
WN=#990000
WX=#ffffaf
WR=#999900
WI=Blue
WC=Gray60
WW=#afffff
WJ=Aqua
WD=Gray40
WO=#009900
WS=#990099
WT=#ffafaf
WK=Yellow
WE=Gray20
WL=Fuchsia
WF=Black
WP=#000099
WA=Gray100
activecolorpane=0
WU=#afffaf
WH=Green
width=488
WB=Gray80

[database_playlist_2]
list-columnwidth-queue=60
list-columnindex-composer=15
list-columnindex-artist=3
list-columnindex-play date=11
list-columnindex-path=12
list-columnindex-album artist=4
list-columnindex-queue=1
list-columnwidth-play date=60
browser=false
list-columnindex-play count=10
track-list-posy=0
list-columnindex-time=9
artist-album-split=3333
list-showcolumn-file type=false
list-showcolumn-year=true
genre-list=false
genre-list-sort-reverse=false
list-columnindex-format=14
list-showcolumn-disc=false
list-showcolumn-album=true
list-columnindex-conductor=16
list-columnwidth-file type=30
list-showcolumn-conductor=false
filter-text=
album-list-browser=false
list-showcolumn-time=true
track-list-posx=0
list-columnwidth-title=360
list-columnwidth-disc=43
list-columnindex-title=2
list-columnindex-disc=6
list-columnindex-no=0
filter-mask=7
list-showcolumn-title=true
album-list-show-year=true
list-columnwidth-year=60
list-showcolumn-format=false
list-columnwidth-artist=400
list-showcolumn-rating=false
list-columnwidth-rating=30
list-showcolumn-composer=false
list-columnwidth-format=400
list-showcolumn-play count=false
list-showcolumn-play date=false
list-showcolumn-queue=true
list-sort-reverse=false
genre-artist-split=5000
list-showcolumn-artist=true
list-columnwidth-play count=60
list-columnwidth-composer=30
list-columnwidth-time=60
list-showcolumn-path=false
list-columnwidth-album artist=200
list-columnindex-rating=17
list-columnindex-file type=13
list-showcolumn-no=false
album-list-sort-by-year=false
list-showcolumn-album artist=true
list-sort-seed=1701862245
list-columnindex-year=8
album-list-sort-reverse=false
list-columnwidth-conductor=400
artist-list-sort-reverse=false
list-columnwidth-no=43
list-columnwidth-path=400
filter=true
browser-track-split=5000
list-sort-column=3
list-columnindex-album=5
list-columnwidth-album=200

[database_filter_1]
browse-columnwidth-artist=400
browse-showcolumn-conductor=false
browse-showcolumn-path=false
browse-columnwidth-conductor=400
browse-columnwidth-time=60
artist-list-selection=
browse-showcolumn-title=true
browse-showcolumn-no=true
browse-columnindex-no=0
browse-columnindex-queue=1
browser=true
browse-columnindex-path=12
genre-artist-split=5000
album-list-show-year=true
artist-album-split=3333
browse-columnindex-play count=10
artist-list-sort-reverse=false
browse-columnindex-album artist=4
browse-columnindex-album=5
genre-list=false
track-list-posx=0
browse-showcolumn-queue=false
browse-showcolumn-composer=false
browse-showcolumn-play date=false
browse-columnwidth-composer=30
genre-list-sort-reverse=false
browse-showcolumn-album=false
browse-columnwidth-no=43
filter-text=
browse-columnindex-disc=6
genre-list-selection=0;
album-list-sort-by-year=false
browse-columnwidth-play count=60
browse-showcolumn-disc=false
browse-sort-seed=812798302
browse-columnwidth-album artist=200
browse-columnwidth-album=200
browse-columnindex-year=8
track-list-posy=0
browse-columnindex-rating=17
browse-showcolumn-play count=false
filter=true
browse-columnwidth-disc=43
browse-columnindex-format=14
browse-columnindex-composer=15
browse-columnindex-file type=13
album-list-selection=
browse-showcolumn-file type=false
browse-showcolumn-year=false
browse-columnwidth-title=360
browse-columnwidth-file type=30
browse-columnindex-artist=3
browse-showcolumn-rating=false
browse-columnwidth-year=60
browse-sort-column=2
browse-columnindex-conductor=16
album-list-browser=true
browse-columnwidth-rating=30
browse-showcolumn-album artist=false
browse-columnindex-play date=11
browse-columnwidth-play date=60
album-list-sort-reverse=false
browse-showcolumn-artist=true
browse-columnwidth-format=400
browse-sort-reverse=false
browse-showcolumn-time=true
browse-columnindex-title=2
filter-mask=7
browse-columnindex-time=9
browse-columnwidth-queue=60
browser-track-split=5000
browse-columnwidth-path=400
browse-showcolumn-format=false

[delete dialog]
from-disk=false

[database_playlist_1]
list-columnwidth-queue=60
browse-columnwidth-artist=400
list-columnindex-composer=15
browse-columnindex-rating=17
list-columnindex-path=12
list-showcolumn-conductor=false
list-columnindex-queue=1
browse-showcolumn-title=true
browse-showcolumn-no=true
browse-columnindex-no=0
browse-showcolumn-file type=false
browse-showcolumn-year=false
list-columnindex-play count=10
list-showcolumn-format=false
browse-columnwidth-time=60
album-list-browser=false
list-columnwidth-format=400
browse-columnindex-album artist=4
browse-columnindex-album=5
track-list-posx=0
browse-columnindex-file type=13
genre-list-sort-reverse=false
list-showcolumn-path=false
browse-showcolumn-album=false
filter-text=
browse-columnindex-disc=6
list-showcolumn-time=true
browse-columnwidth-path=400
browse-columnwidth-play count=60
list-columnindex-title=2
filter-mask=7
list-columnindex-rating=17
browse-columnindex-year=8
browse-columnwidth-file type=30
list-columnwidth-artist=400
list-showcolumn-rating=false
list-columnwidth-rating=30
browse-showcolumn-play count=false
list-showcolumn-play date=false
browse-columnindex-format=14
list-showcolumn-queue=true
album-list-selection=0;
list-columnwidth-play count=60
browse-columnwidth-title=360
list-columnwidth-album artist=200
browse-columnindex-artist=3
list-columnindex-file type=13
browse-columnindex-conductor=16
list-showcolumn-no=false
album-list-sort-by-year=false
list-showcolumn-album artist=true
list-showcolumn-disc=false
browse-columnindex-play date=11
list-columnindex-year=8
album-list-sort-reverse=false
list-columnindex-artist=3
artist-list-sort-reverse=false
browse-columnwidth-composer=30
list-columnwidth-no=43
browse-columnwidth-album=200
browse-columnindex-time=9
filter=true
browse-showcolumn-album artist=false
browse-showcolumn-format=false
browse-showcolumn-conductor=false
browse-columnwidth-conductor=400
list-columnindex-play date=11
artist-list-selection=0;
list-columnindex-album artist=4
browse-columnwidth-play date=60
browse-columnindex-queue=1
browser=true
browse-columnindex-path=12
album-list-show-year=true
list-columnindex-time=9
artist-album-split=6666
browse-columnindex-play count=10
list-showcolumn-file type=false
list-showcolumn-year=true
genre-list=true
list-columnindex-format=14
browse-showcolumn-queue=false
list-showcolumn-album=true
list-columnindex-conductor=16
list-columnwidth-file type=30
browse-showcolumn-path=false
browse-columnwidth-no=43
browse-showcolumn-time=true
browse-columnwidth-queue=60
genre-list-selection=0;
list-columnwidth-title=360
list-columnwidth-disc=43
browse-sort-seed=289433468
list-showcolumn-artist=true
list-columnindex-disc=6
browse-columnwidth-album artist=200
list-columnwidth-path=400
list-showcolumn-title=true
track-list-posy=0
list-columnwidth-year=60
list-sort-column=3
browse-showcolumn-composer=false
browse-showcolumn-disc=false
list-columnindex-no=0
list-showcolumn-play count=false
list-showcolumn-composer=false
browse-columnwidth-disc=43
browse-columnindex-composer=15
list-sort-reverse=false
genre-artist-split=5000
list-columnwidth-composer=30
list-columnwidth-time=60
list-columnwidth-play date=60
browse-columnwidth-year=60
browse-sort-column=2
browse-showcolumn-play date=false
browse-columnwidth-rating=30
list-sort-seed=2830564028
list-columnwidth-conductor=400
browse-showcolumn-artist=true
browse-columnwidth-format=400
browse-sort-reverse=false
browse-columnindex-title=2
browse-showcolumn-rating=false
browser-track-split=5000
list-columnindex-album=5
list-columnwidth-album=200

[colors]
row-color=#22232c
source-selecttext-color=Black
source-select-color=#d2e6d2
playtext-color=#f8f8f2
play-color=#6e5991
menu-base-color=#282a36
tray-back-color=#474c56

[SETTINGS]
normalfont=DejaVu Sans,100,normal,regular,medium,iso10646-1,2048
shadowcolor=#1b1c24
bordercolor=Black
selmenubackcolor=#6e5991
selbackcolor=#6e5991
basecolor=#282a36
hilitecolor=#6f7078
selforecolor=#f8f8f2
backcolor=#282a36
selmenutextcolor=Gray100
tipforecolor=#44475a
tipbackcolor=#f1fa8c
forecolor=#f8f8f2
screenres=100

[export]
encoding=0
character-filter="'\\#~!\"$&();<>|`^*?[]/.:"
format-template=%N %T
lowercase=false
id3v1-encoding=2
underscore=false
lowercase-extension=true

[import]
track-from-filelist=false
parse-method=2
album-format-grouping=true
exclude-folder=
exclude-file=
replace-underscores=true
detect-compilation=false
playback-only=false
fetch-lyrics=false
filename-template=%P/%A/%N %T

[internet-radio]
album-list-show-year=true
list-sort-column=4
list-columnindex-no=0
list-columnwidth-station=200
browser=false
list-columnindex-genre=3
browser-track-split=5000
list-sort-reverse=false
genre-artist-split=5000
list-showcolumn-bit rate=true
list-showcolumn-station=true
track-list-posy=0
list-showcolumn-no=true
list-columnindex-bit rate=2
list-columnindex-station=1
album-list-browser=false
album-list-sort-by-year=false
genre-list-sort-reverse=false
list-sort-seed=1233329625
filter-text=
artist-list-sort-reverse=false
track-list-posx=0
list-columnwidth-no=60
album-list-sort-reverse=false
list-showcolumn-genre=true
filter=false
list-columnwidth-genre=150
list-columnwidth-bit rate=80
genre-list=false
filter-mask=7
artist-album-split=3333

[file-system]
album-list-show-year=true
list-sort-column=17
album-list-browser=false
genre-list-sort-reverse=false
list-sort-seed=449618398
filter-mask=7
genre-list=false
album-list-sort-reverse=false
browser=false
track-list-posx=0
browser-track-split=5000
list-columnindex-path=0
list-sort-reverse=false
album-list-sort-by-year=false
path=/home/max/Musica/wineandrelax
filter=false
artist-album-split=3333
filter-text=
artist-list-sort-reverse=false
track-list-posy=-1758
list-showcolumn-path=true
list-columnwidth-path=600
genre-artist-split=5000

[database]
browse-columnwidth-artist=400
browse-showcolumn-conductor=false
browse-showcolumn-path=false
browse-columnwidth-conductor=400
browse-columnwidth-time=60
artist-list-selection=0;
browse-showcolumn-title=true
browse-showcolumn-no=true
browse-columnindex-no=0
browse-columnindex-queue=1
browser=true
browse-columnindex-path=12
genre-artist-split=5329
album-list-show-year=true
artist-album-split=3645
browse-columnindex-play count=10
artist-list-sort-reverse=false
browse-columnindex-album artist=4
browse-columnindex-album=5
genre-list=true
track-list-posx=0
browse-showcolumn-queue=false
browse-showcolumn-composer=false
browse-showcolumn-play date=false
browse-columnwidth-composer=30
genre-list-sort-reverse=false
browse-showcolumn-album=false
browse-columnwidth-no=43
filter-text=
browse-columnindex-disc=6
genre-list-selection=0;
album-list-sort-by-year=false
browse-columnwidth-play count=60
browse-showcolumn-disc=false
browse-sort-seed=1393641434
browse-columnwidth-album artist=200
browse-columnwidth-album=200
browse-columnindex-year=8
track-list-posy=0
browse-columnindex-rating=17
browse-showcolumn-play count=false
filter=true
browse-columnwidth-disc=43
browse-columnindex-format=14
browse-columnindex-composer=15
browse-columnindex-file type=13
album-list-selection=0;
browse-showcolumn-file type=false
browse-showcolumn-year=false
browse-columnwidth-title=360
browse-columnwidth-file type=30
browse-columnindex-artist=3
browse-showcolumn-rating=false
browse-columnwidth-year=60
browse-sort-column=17
browse-columnindex-conductor=16
album-list-browser=true
browse-columnwidth-rating=30
browse-showcolumn-album artist=false
browse-columnindex-play date=11
browse-columnwidth-play date=60
album-list-sort-reverse=false
browse-showcolumn-artist=true
browse-columnwidth-format=400
browse-sort-reverse=false
browse-showcolumn-time=true
browse-columnindex-title=2
filter-mask=7
browse-columnindex-time=9
browse-columnwidth-queue=60
browser-track-split=4992
browse-columnwidth-path=400
browse-showcolumn-format=false

[database_filter_0]
browse-columnwidth-artist=400
browse-showcolumn-conductor=false
browse-showcolumn-path=false
browse-columnwidth-conductor=400
browse-columnwidth-time=60
artist-list-selection=
browse-showcolumn-title=true
browse-showcolumn-no=true
browse-columnindex-no=0
browse-columnindex-queue=1
browser=true
browse-columnindex-path=12
genre-artist-split=5000
album-list-show-year=true
artist-album-split=3333
browse-columnindex-play count=10
artist-list-sort-reverse=false
browse-columnindex-album artist=4
browse-columnindex-album=5
genre-list=false
track-list-posx=0
browse-showcolumn-queue=false
browse-showcolumn-composer=false
browse-showcolumn-play date=false
browse-columnwidth-composer=30
genre-list-sort-reverse=false
browse-showcolumn-album=false
browse-columnwidth-no=43
filter-text=
browse-columnindex-disc=6
genre-list-selection=0;
album-list-sort-by-year=false
browse-columnwidth-play count=60
browse-showcolumn-disc=false
browse-sort-seed=915232933
browse-columnwidth-album artist=200
browse-columnwidth-album=200
browse-columnindex-year=8
track-list-posy=0
browse-columnindex-rating=17
browse-showcolumn-play count=false
filter=true
browse-columnwidth-disc=43
browse-columnindex-format=14
browse-columnindex-composer=15
browse-columnindex-file type=13
album-list-selection=
browse-showcolumn-file type=false
browse-showcolumn-year=false
browse-columnwidth-title=360
browse-columnwidth-file type=30
browse-columnindex-artist=3
browse-showcolumn-rating=false
browse-columnwidth-year=60
browse-sort-column=2
browse-columnindex-conductor=16
album-list-browser=false
browse-columnwidth-rating=30
browse-showcolumn-album artist=false
browse-columnindex-play date=11
browse-columnwidth-play date=60
album-list-sort-reverse=false
browse-showcolumn-artist=true
browse-columnwidth-format=400
browse-sort-reverse=false
browse-showcolumn-time=true
browse-columnindex-title=2
filter-mask=7
browse-columnindex-time=9
browse-columnwidth-queue=60
browser-track-split=5000
browse-columnwidth-path=400
browse-showcolumn-format=false

[sync]
remove-missing=false
update-always=false
import-new=true
update=false

[dbus]
notification-daemon=true
mpris=true

[directories]
last-import-dirs=/home/max/Musica/wineandrelax
last-import-files=/home/max/Musica

[window]
browser-icons=true
source-list-sort-reverse=false
height=580
show-opengl-coverview=true
remote-x=522
tray-icon=true
show-statusbar=true
toolbar-docktop=true
toolbar-labels=true
toolbar-bigicons=true
source-list-vsplit=5000
fullscreen=false
remote=false
sort-keywords=a;an;the
show-playing-albumcover=true
remote-y=348
toolbar-labels-above=true
show-playing-titlebar=false
title-format=%P - %T - %A (%y)
remote-width=321
source-list-current=database
window-show=true
x=490
hide-player-when-close=false
cover-size=128
maximized=true
source-list-hsplit=1977
track-list-current=-1
y=163
source-list=true
remote-height=72
show-playing-lyrics=true
width=700
remote-time-remaining=false

[user-interface]
icon-theme=Dracula

